.container {
	width: 1200px;
	margin: 0 auto;
	margin-top: 50px;
}

.easy-slide {
	text-align: center;
}

.thumb {
	display: inline;
	text-decoration: none;
	padding: 0 15px;
}

.thumb img {
	border: 1px solid #eee;
	padding: 5px;
}